<h3>Welcome, Admin person!</h3>
<!--<form [formGroup]="form">
  <div class="form-group">
    <label class="col-md-4">Select an event to edit:</label>
    <br>
    <select name="selectEvent" id="selectEvent" formControlName="SelectEvent" class="form-control" formArrayName="events">
      <option *ngFor="let event of eventsFormArray.controls; let i = index" value="{{eventsData[i].EventID}}">{{eventsData[i].Name}}</option>
    </select>
  </div>
  <button class="btn btn-default" (click)="navigateToEventEdit()" [disabled]="form.get('SelectEvent')?.value === ''">Edit</button>
  <button class="btn btn-default" Style="float:right" (click)="navigateToEventAdd()">Add New Event</button>
</form>-->
<!-- Table with all events happening today or in the future -->
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Event Name</th>
          <th scope="col">Volunteer Need</th>
          <th scope="col">Donation Goal</th>
          <th scope="col">Date</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventsData; let i=index;" (click)="Select(i);">
          <td scope="row">{{ event.Name }}</td>
          <td>{{ event.VolunteerNeed }}</td>
          <td>{{ event.DonationGoal }}</td>
          <td>{{ event.MonthString + '/' + event.DayString + '/' + event.YearString }}</td>
          <td>{{ event.StartHourString + ':' + event.StartMinuteString }}</td>
          <td>{{ event.EndHourString + ':' + event.EndMinuteString }}</td>
          <td><button class="btn btn-default" (click)="editEvent(event.EventID)">Edit</button></td>
          <td><button class="btn btn-danger" (click)="Cancel(i)">Cancel</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
