<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <div class="form-group">
        <label for="username" class="col-md-4">Username</label>
        <input name ="username" type="text" class="form-control form-control-lg"
               formControlName="Username"
               #Username />
      </div>
      <!-- <div *ngIf="form.controls['EventName'].invalid && (form.controls['EventName'].dirty || form.controls['EventName'].touched)" class="alert alert-danger">
        <div class ="invalid-feedback" *ngIf="form.controls.EventName.errors?.required">
          Username is required.
        </div>
      </div> -->
      <!-- Password -->
      <div class="form-group">
        <label class="col-md-4">Password</label>
        <input type="password" class="form-control form-control-lg"
               formControlName="Password"
               #Password />
      </div>
      <!-- <div *ngIf="form.controls['EventName'].invalid && (form.controls['EventName'].dirty || form.controls['EventName'].touched)" class="alert alert-danger">
        <div class ="invalid-feedback" *ngIf="form.controls.EventName.errors?.required">
          Password is required.
        </div>
      </div> -->
      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="form.pristine">
          Login
        </button>
      </div>
    </form>
  </div>
  <div>
    <a style="color:rgb(94, 94, 240); float:right" href="Account/create">Make an account</a>
  </div>
</div>
