<h3>Your Events</h3>
<!-- Table with all events this volunteer has signed up for -->
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Event Name</th>
          <th scope="col">Date</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventsData; let i=index;" (click)="Select(i);">
          <td scope="row">{{ event.Name }}</td>
          <td>{{ event.MonthString + '/' + event.DayString + '/' + event.YearString }}</td>
          <td>{{ event.StartHourString + ':' + event.StartMinuteString }}</td>
          <td>{{ event.EndHourString + ':' + event.EndMinuteString }}</td>
          <td *ngIf="this.volunteers[i].Deleted==true"><p style="color:#fc039d">Cancelled</p></td>
          <td *ngIf="this.volunteers[i].Deleted==false"><p style="color: #03fcb1">Volunteered</p></td>
<!--          <td *ngIf="this.volunteers[i].Deleted==true"><button (click)="Attend(i);">Volunteer</button></td>
          <td *ngIf="this.volunteers[i].Deleted==false"><button (click)="Cancel(i);">Cancel</button></td>-->
        </tr>
      </tbody>
    </table>
  </div>
</div>
