<h1>Donor Details</h1>
<h3>Username: <strong>{{myUser.Username}}</strong></h3>
<h3>First Name: <strong>{{myUser.FirstName}}</strong></h3>
<h3>Last Name: <strong>{{myUser.LastName}}</strong></h3>

<h3>Status: <strong id="del" *ngIf="myUser.Deleted == true">Deleted</strong>
            <strong id="act" *ngIf="myUser.Deleted == false">Active</strong>
</h3>

<h3>Total amount donated by {{myUser.Username}}: <b>${{totalDonated}}</b></h3>
<h3>Total donated to events: <b>${{totalEvents}}</b></h3>
<h3>Total donated to UWL Nonprofit: <b>${{totalOrg}}</b></h3>
<h4>{{myUser.FirstName}} {{myUser.LastName}}'s Donations</h4>
<!-- Table with all donations this donor has made -->
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Amount (USD)</th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Event</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donation of donationData; let i=index;">
          <td scope="row">{{ donation.Amount }}</td>
          <td>{{ donation.MonthString + '/' + donation.DayString + '/' + donation.YearString }}</td>
          <td>{{ donation.Type }}</td>
          <td>{{donation.EventName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Buttons to go back and delete/renew user-->
<div class="flex-contianer">
  <div id="left-btn">
    <button class="btn btn-info" [routerLink]="'/Users'">Back</button>
  </div>
  <div id="right-btn">
    <button *ngIf="myUser.Deleted == true" class="btn btn-success" (click)="Renew();">Renew</button>
    <button *ngIf="myUser.Deleted == false" class="btn btn-danger" (click)="Delete();">Delete</button>
  </div>
</div>
