<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Section for Event Name -->
      <div class="form-group">
        <label class="col-md-10">Event Name</label>
        <input type="text" class="form-control"
               formControlName="EventName"
               #EventName />
      </div>
      <div *ngIf="form.controls['EventName'].invalid && (form.controls['EventName'].dirty || form.controls['EventName'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls.EventName.errors?.required">
          Event name is required.
        </div>
      </div>
      <!-- Section for Morning Need -->
      <div class="form-group">
        <label class="col-md-4">Morning Need</label>
        <input type="number" class="form-control"
               formControlName="MorningNeed" min="0"
               #MorningNeed />
      </div>
      <div *ngIf="form.controls['MorningNeed'].invalid && (form.controls['MorningNeed'].dirty || form.controls['MorningNeed'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls.MorningNeed.errors?.required">
          Morning need is required.
        </div>
        <div *ngIf="form.controls.MorningNeed.errors?.min">
          Morning need cannot be negative.
        </div>
      </div>
      <!-- Section for Afternoon Need -->
      <div class="form-group">
        <label class="col-md-4">Afternoon Need</label>
        <input type="number" class="form-control"
               formControlName="AfternoonNeed" min="0"
               #AfternoonNeed />
      </div>
      <div *ngIf="form.controls['AfternoonNeed'].invalid && (form.controls['AfternoonNeed'].dirty || form.controls['AfternoonNeed'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls.AfternoonNeed.errors?.required">
          Afternoon need is required.
        </div>
        <div *ngIf="form.controls.AfternoonNeed.errors?.min">
          Afternoon need cannot be negative.
        </div>
      </div>
      <!-- Section for Night Need -->
      <div class="form-group">
        <label class="col-md-4">Night Need</label>
        <input type="number" class="form-control"
               formControlName="NightNeed" min="0"
               #NightNeed />
      </div>
      <div *ngIf="form.controls['NightNeed'].invalid && (form.controls['NightNeed'].dirty || form.controls['NightNeed'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls.NightNeed.errors?.required">
          Night need is required.
        </div>
        <div *ngIf="form.controls.NightNeed.errors?.min">
          Night need cannot be negative.
        </div>
      </div>
      <!-- Section for Date -->
      <div class="form-group">
        <label class="col-md-4">Event Date</label>
        <input type="date" class="form-control"
               formControlName="date"
               #date />
      </div>
      <div *ngIf="form.controls['date'].invalid && (form.controls['date'].dirty || form.controls['date'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls.date.errors?.required">
          Event date is required.
        </div>
        <div *ngIf="form.controls.date.errors?.forbiddenDateValidator">
          Events must be scheduled at leasst 24 hours in advance.
        </div>
      </div>
      <!-- Section for Start -->
      <div class="form-group">
        <label class="col-md-4">Start Time</label>
        <input type="time" class="form-control"
               formControlName="Start"
               #Start />
      </div>
      <div *ngIf="form.controls['Start'].invalid && (form.controls['Start'].dirty || form.controls['Start'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls.Start.errors?.required">
          Start time is required.
        </div>
        <div *ngIf="form.errors?.invalidTimeValidator">
          Start time must be before end time.
        </div>
      </div>
      <!-- Section for End -->
      <div class="form-group">
        <label class="col-md-4">End Time</label>
        <input type="time" class="form-control"
               formControlName="End"
               #End />
      </div>
      <div *ngIf="form.controls['End'].invalid && (form.controls['End'].dirty || form.controls['End'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls.End.errors?.required">
          End time is required.
        </div>
        <div *ngIf="form.errors?.invalidTimeValidator">
          End time must be after start time.
        </div>
      </div>
      <!-- Section for submit button -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary"
                [disabled]="form.pristine || form.invalid">
          Add Event
        </button>
      </div>
    </form>
  </div>
</div>
